.user-info > .user > img {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.user-info {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 20px;
}
.user {
    display: flex;
    gap: 20px;
    font-size: 12px;
    align-items: center;
}
.icons {
    display: flex;
    gap: 15px;
}