.login-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .login{
        height: 100%;
        width: 50%;
        /* background-color: rgb(0, 0, 0, 0.4); */
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 60px;
        padding-top: 60px;

        h2{
            color: white;
            font-size: 30px;
            font-weight: 400;
        }
        .login-form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: rgb(0, 0, 0, 0.5);
            width: 80%;

            input{
                outline: none;
                border: none;
                height: 50px;
                width: 100%;
                background-color: #161616;
                border-radius: 5px;
                font-size: 17px;
                padding-left: 20px;
                color: white;
                border: 1px solid #5f5f5f;
            }
            input:hover{
                border: 1px solid white;
            }
            input::placeholder{
                color: #b8b8b8;
                font-size: 17px;
            }
            button{
                outline: none;
                border: none;
                height: 35px;
                width: 100%;
                background-color: #e50815;
                border-radius: 5px;
                font-size: 17px;
                color: white;

                &:disabled{
                    cursor: not-allowed;
                    background-color: #e508177b;
                }
            }
            button:hover{
                background-color: #920008;
                cursor: pointer;
            }
        }
    }
    .separator{
        height: 100%;
        width: 1px;
        background-color: #5e5e5e;
    }
    .register{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 50%;
        padding: 40px;
        padding-top: 60px;

        h2{
            font-size: 30px;
            font-weight: 400;
        }

        .register-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: rgb(0, 0, 0, 0.4);
            height: 80%;
            width: 80%;
            border-radius: 15px;
            padding: 30px;

            .upload-profile{
                display: flex;
                flex-direction: column;
                gap: 10px;
                img{
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                }
            }
            input{
                outline: none;
                border: none;
                height: 50px;
                width: 100%;
                background-color: #161616;
                border-radius: 5px;
                font-size: 17px;
                padding-left: 20px;
                color: white;
                border: 1px solid #5f5f5f;
            }
            input:hover{
                border: 1px solid white;
            }
            input::placeholder{
                color: #b8b8b8;
                font-size: 17px;
            }
            button{
                outline: none;
                border: none;
                height: 35px;
                width: 100%;
                background-color: #e50815;
                border-radius: 5px;
                font-size: 17px;
                color: white;

                &:disabled{
                    cursor: not-allowed;
                    background-color: #e508177b;
                }
            }
            button:hover{
                background-color: #920008;
                cursor: pointer;
            }
        }
    }
}


.log-in-accounts {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.log-in-accounts ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.log-in-accounts ul li {
    list-style: none;
}
.log-in-accounts ul li button {
    outline: none;
    border: 1px solid #727272;
    background-color: #000000;
    border-radius: 25px;
    width: 328px;
    height: 48px;
}
.log-in-accounts button:hover {
    cursor: pointer;
    border: 1px solid white;
}
.xR230zZLI {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.xR230zZTp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.xR230zZTp  h3 {
    font-size: 17px;
    color: #e6e6e6;
}
.apple-icon {
    height: 30px;
    width: 30px;
    fill: white;
}
.google-icon,.github-icon {
    height: 30px;
    width: 30px;
}